<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simona diseño</title>
    <link
      rel="icon"
      type="image/png"
      href="/static/assets/favicons/favicon.png"
    />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/hamburger.css" />
    <link rel="stylesheet" href="/static/css/aboutme.css" />
    <script src="/static/js/variables.js"></script>
  </head>

  <body>
    <nav id="nav" class="nav">
      <div class="nav__title">
        <h1>Simona</h1>
      </div>
      <a id="hamburger" class="nav__hamburger" href="#"><span></span></a>
      <ul class="nav__links">
        <a href="/">
          <li class="nav__link">Inicio</li>
        </a>
        <a href="#">
          <li class="nav__link nav__link--active">Sobre mi</li>
        </a>
        <a href="/views/galery.html">
          <li class="nav__link">Productos</li>
        </a>
        <a href="/views/contact.html">
          <li class="nav__link">Contacto</li>
        </a>
      </ul>
    </nav>
    <section class="aboutme">
      <h1 class="aboutme__title">Sobre mi emprendimiento</h1>
      <hr class="aboutme__divisor" />
      <div class="aboutme__ly">
        <img
          class="aboutme__img"
          src="/static/assets/images/aboutme.jpg"
          alt=""
        />
        <p class="aboutme__description">
          Como todo emprendimiento que vemos en redes sociales, uno sabe que
          atrás de cada mensaje, cada publicación, cada foto subida hay una
          persona, por eso creo que llego el momento de presentarme y que me
          conozcan. Mi nombre es Belén y soy la persona que está atrás de este
          hermoso emprendimiento que es Simona Diseño. La idea de crear este
          emprendimiento nació a fines de 2016 y soy feliz de saber que va
          creciendo todos los días un poquito más. Con muchos miedos, pero con
          toda mi energía puesta en esto es como comencé, con muchísimas ideas y
          cosas lindas que tenía pensadas crear para ustedes es como decidí
          empezar este emprendimiento que tan feliz me hace. Comencé vendiendo
          accesorios, los cuales fabricaba yo misma y con el paso del tiempo fui
          anexando demás artículos, como son hoy en dia mis mates pintados a
          mano que disfruto inmensamente de hacerlo, de pensar en los diseños,
          en los colores, y en cada detalle que muchas veces parece ínfimo pero
          para mi es súper importante. Esta foto es en la primera feria donde
          pude ir a mostrar mis productos, y ese fue uno de los días en los que
          me di cuenta de lo mucho que disfruto de hacer lo que hago, también de
          que cualquier cosa que uno haga con mucho amor y dedicación, no tiene
          por qué salir mal, y no puedo dejar de agradecerle a mi novio que está
          incondicionalmente apoyándome en todo esto, a mi familia, a mis
          suegros y a mis amigas. Nada de esto hubiera sido posible sin ellos. Y
          obviamente les quiero agradecer a ustedes, mis clientas de siempre que
          estuvieron desde el principio y me siguen acompañando hasta el día de
          hoy, por sus mensajitos tan lindos, por subir fotos con mis accesorios
          o mates, por cada comentario, cada me gusta. Les agradezco por
          ayudarme a crecer y quiero decirles que todas mis ideas son pensando
          en ustedes siempre.
        </p>
      </div>
    </section>
    <footer id="footer" class="footer">
      <div class="footer__socialmedia">
        <h2>Redes sociales:</h2>
        <div class="d-flex align-center">
          <img class="footer__icon" src="/static/assets/icons/facebook.svg" />
          <a
            class="link"
            href="https://www.facebook.com/simona.santafeparana"
            target="__blank"
            >/simonadiseno</a
          >
        </div>
        <div class="d-flex align-center">
          <img class="footer__icon" src="/static/assets/icons/instagram.svg" />
          <a
            class="link"
            href="https://www.instagram.com/simona.diseno/"
            target="__blank"
            >/simonadiseno</a
          >
        </div>
      </div>
      <div class="footer__contact">
        <h2>Contacto:</h2>
        <div class="d-flex align-center">
          <img class="footer__icon" src="/static/assets/icons/whatsapp.svg" />
          <p>+543435243489</p>
        </div>
      </div>
    </footer>
    <script src="/static/js/navbar.js"></script>
  </body>
</html>
