<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simona Diseño</title>
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
  </head>
  <body>
    <main class="Admin">
      <div class="Admin__ly">
        <p class="Admin__signin">Iniciar sesion</p>
        <hr class="Admin__divisor" />
        <form class="Admin__form" id="form">
          <label class="Admin__row" for="name">
            Nombre de usuario
            <input type="text" id="name" class="input" name="name" />
          </label>
          <label class="Admin__row" for="password">
            Contraseña
            <input
              type="password"
              id="password"
              class="input"
              name="password"
            />
          </label>
          <button type="submit" class="button">Ingresar</button>
        </form>
      </div>
    </main>
    <script>
      window.addEventListener("load", () => {
        document.getElementById("form").addEventListener("submit", (e) => {
          e.preventDefault();
          document.location = "/views/home.html";
        });
      });
    </script>
  </body>
</html>
