<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simona Diseño</title>
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link href="/static/css/dist/hamburgers.css" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json" />
  </head>
  <body>
    <main class="Main">
      <nav id="responsive-nav" class="Main__responsive-nav">
        <button
          class="hamburger hamburger--spin"
          type="button"
          id="btn-collapse"
        >
          <span class="hamburger-box">
            <span
              id="hamburger-inner"
              class="hamburger-inner hamburger-inner-active"
            ></span>
          </span>
        </button>
        <div class="Main__responsive-nav__link">
          <a class="link" href="/">Inicio</a>
        </div>
        <div class="Main__responsive-nav__link">
          <a class="active link" href="#">Sobre mi</a>
        </div>
        <div class="Main__responsive-nav__link">
          <a class="link" href="/views/galeria.html">Galeria</a>
        </div>
        <div class="Main__responsive-nav__link">
          <a class="link" href="/views/contacto.html">Contacto</a>
        </div>
      </nav>
      <header class="Main__header">
        <h1 class="Main__header__title">Simona</h1>
        <h2 class="Main__header__subtitle">Objetos de diseño</h2>
      </header>
      <div class="Main__links">
        <a
          class="Main__links__link"
          href="https://www.facebook.com/simona.santafeparana"
          target="__blank"
        >
          <img class="Main__links__img" src="/static/assets/facebook.svg" />
        </a>
        <a
          class="Main__links__link"
          href="https://www.instagram.com/simona.diseno/"
          target="__blank"
        >
          <img class="Main__links__img" src="/static/assets/instagram.svg" />
        </a>
        <a
          class="Main__links__link"
          href="https://wa.me/543435243489?text=Hola%2c+queria+realizar+una+consulta."
          target="__blank"
        >
          <img class="Main__links__img" src="/static/assets/whatsapp.svg" />
        </a>
      </div>
      <section class="Main__sections">
        <nav class="Sections__nav">
          <a class="Sections__nav__link" href="/">Inicio</a>
          <a class="Sections__nav__link Sections__nav__link-active" href="#"
            >Sobre mi</a
          >
          <a class="Sections__nav__link" href="/views/galeria.html">Galeria</a>
          <a class="Sections__nav__link" href="/views/contacto.html"
            >Contacto</a
          >
        </nav>
        <div class="Sections__content Sobremi">
          <img class="Sobremi__img" src="/static/mates/belen.jpg" alt="" />
          <div class="Sobremi__info">
            <h1 class="Sobremi__title">Sobre mi emprendimiento</h1>
            <p class="Sobremi__text">
              Como todo emprendimiento que vemos en redes sociales, uno sabe que
              atrás de cada mensaje, cada publicación, cada foto subida hay una
              persona, por eso creo que llego el momento de presentarme y que me
              conozcan.
            </p>
            <p class="Sobremi__text">
              Mi nombre es Belén y soy la persona que está atrás de este hermoso
              emprendimiento que es Simona Diseño.
            </p>
            <p class="Sobremi__text">
              La idea de crear este emprendimiento nació a fines de 2016 y soy
              feliz de saber que va creciendo todos los días un poquito más. Con
              muchos miedos, pero con toda mi energía puesta en esto es como
              comencé, con muchísimas ideas y cosas lindas que tenía pensadas
              crear para ustedes es como decidí empezar este emprendimiento que
              tan feliz me hace. Comencé vendiendo accesorios, los cuales
              fabricaba yo misma y con el paso del tiempo fui anexando demás
              artículos, como son hoy en dia mis mates pintados a mano que
              disfruto inmensamente de hacerlo, de pensar en los diseños, en los
              colores, y en cada detalle que muchas veces parece ínfimo pero
              para mi es súper importante.
            </p>
            <p class="Sobremi__text">
              Esta foto es en la primera feria donde pude ir a mostrar mis
              productos, y ese fue uno de los días en los que me di cuenta de lo
              mucho que disfruto de hacer lo que hago, también de que cualquier
              cosa que uno haga con mucho amor y dedicación, no tiene por qué
              salir mal, y no puedo dejar de agradecerle a mi novio que está
              incondicionalmente apoyándome en todo esto, a mi familia, a mis
              suegros y a mis amigas. Nada de esto hubiera sido posible sin
              ellos. Y obviamente les quiero agradecer a ustedes, mis clientas
              de siempre que estuvieron desde el principio y me siguen
              acompañando hasta el día de hoy, por sus mensajitos tan lindos,
              por subir fotos con mis accesorios o mates, por cada comentario,
              cada me gusta. Les agradezco por ayudarme a crecer y quiero
              decirles que todas mis ideas son pensando en ustedes siempre.
            </p>
            <p class="Sobremi__text">Con mucho amor, Belén.</p>
          </div>
        </div>
      </section>
    </main>
    <script src="/static/js/collapseButton.js"></script>
  </body>
</html>
