h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
li,
p {
  user-select: none;
}
.galery {
  position: relative;
  min-height: calc(100vh - 122px);
  padding: 16px;
}
.galery__preview {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galery__preview__close {
  width: 30px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.galery__preview__product {
  position: relative;
  max-width: 700px;
  height: 70% !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.galery__preview__product img {
  position: relative;
  object-fit: cover;
  height: 100% !important;
}
.galery__ly-products {
  display: flex;
}
.galery__title {
  width: 100%;
  font-family: "Roboto-light";
  font-size: 36px;
  padding: 16px;
  text-align: center;
}
.galery__filter-products {
  position: relative;
  min-width: 300px;
  overflow: hidden;
  height: 400px;
  padding: 16px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: all 0.5s;
}
.galery__filter-products h1 {
  font-weight: 100;
  text-align: center;
  font-size: 24px;
}
.galery__filter-products hr {
  width: 50px;
  height: 1px;
  background: #ffbfbf;
  border: none;
  margin: 16px 0;
}
.galery__filter-products__icon {
  display: none;
  width: 25px;
  margin: 0 8px;
  cursor: pointer;
}
.galery__filter-products__sort-arrow {
  width: 15px;
  margin: 0 8px;
  cursor: pointer;
}
.galery__filter-products__search {
  width: 100%;
  padding: 5px;
  margin: 16px 0;
}
.galery__filter-products__categories {
  list-style: none;
  padding: 0;
}
.galery__filter-products__category {
  padding: 8px 0;
  cursor: pointer;
}
.galery__filter-products__category:hover {
  opacity: 0.5;
}
.galery__filter-products__category--active {
  color: #ffbfbf;
}
.galery__products {
  width: 100%;
  padding: 0 16px;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.galery__product {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 400px;
  transition: all 0.5s;
  cursor: pointer;
  overflow: hidden;
}
.galery__product--admin {
  padding: 0 !important;
  padding-bottom: 32px !important;
}
.galery__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px;
}
.galery__product:hover {
  background: #ffe8e8;
}
.galery__product__icon {
  width: 30px;
  margin: 8px;
}
.galery__product__icon:hover {
  transform: scale(1.5);
}
.galery__product h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
  color: #333333;
}
.galery__product h2 {
  margin: 6px;
  font-weight: 100;
  color: #ffbfbf;
}
.galery__product .img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.galery__widget {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.galery__form {
  width: 500px;
  height: 700px;
  background: white;
}
.galery__form__title {
  margin: 16px;
}

@media (max-width: 768px) {
  .galery__products {
    display: flex;
    flex-direction: column;
  }
  .galery__product {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .galery__ly-products {
    flex-direction: column;
  }
  .galery__filter-products__icon {
    display: inline;
  }
  .galery__filter-products {
    width: 100%;
    margin: 32px 0;
  }
  .galery__filter-products--hide {
    height: 150px !important;
  }
  .galery__product:hover {
    background: transparent;
  }
  .galery__products {
    grid-template-columns: 1fr 1fr;
  }
}
